/*************************
Criado por Diogo Saúde
Css para Pagina Inicial
Modelo DS
produção    https://cdn.rawgit.com/SaudeDiogo/SyncMe/SyncMe/modeloDS/css/pagina-inicial.css
dev         https://rawgit.com/SaudeDiogo/SyncMe/SyncMe/modeloDS/css/pagina-inicial.css
**************************/

body.noteditmode.modeloDS .pagina-inicial {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    background: #bd2429;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    justify-content: flex-start;
    font: 115% 'Roboto', sans-serif;
}

body.noteditmode.modeloDS .pagina-inicial::after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93%0D%0Ad3cudzMub3JnLzE5OTkveGxpbmsiIGhlaWdodD0iMzYuMzAwMDAwMDAwMDAwMDEiIHdpZHRoPSIz%0D%0ANi4yMjUwODc0OTk5OTk5NyI+CiAgPGRlZnM+CiAgICA8cGF0aCBpZD0icGF0aC0wIiBvcGFjaXR5%0D%0APSIxIiBkPSJNMzEuMTk5OTk5OTk5OTk5OTMyLDEuMzk5OTk5OTk5OTk5OTc3MyBMMS4zOTk5OTk5%0D%0AOTk5OTk5NzczLDExLjI5OTk5OTk5OTk5OTk1NSBMMS4zOTk5OTk5OTk5OTk5NzczLDEuMzk5OTk5%0D%0AOTk5OTk5OTc3MyBMMzEuMTk5OTk5OTk5OTk5OTMyLDEuMzk5OTk5OTk5OTk5OTc3M1pNMC43MDAw%0D%0AMDAwMDAwMDAwNDU1LDAgQzAuMjk5OTk5OTk5OTk5OTU0NSwwIDAsMC4zMDAwMDAwMDAwMDAwMTEz%0D%0ANyAwLDAuNjk5OTk5OTk5OTk5OTg4NiBMMCwxMi4zMDAwMDAwMDAwMDAwMTEgQzAsMTIuNSAwLjEw%0D%0AMDAwMDAwMDAwMDAyMjc0LDEyLjY5OTk5OTk5OTk5OTk4OSAwLjI5OTk5OTk5OTk5OTk1NDUsMTIu%0D%0AODk5OTk5OTk5OTk5OTc3IEMwLjM5OTk5OTk5OTk5OTk3NzI2LDEzIDAuNjAwMDAwMDAwMDAwMDIy%0D%0ANywxMyAwLjcwMDAwMDAwMDAwMDA0NTUsMTMgTDM1LjcwMDAwMDAwMDAwMDA0NSwxLjM5OTk5OTk5%0D%0AOTk5OTk3NzMgQzM2LjEwMDAwMDAwMDAwMDAyLDEuMzAwMDAwMDAwMDAwMDExNCAzNi4yOTk5OTk5%0D%0AOTk5OTk5NTUsMC44OTk5OTk5OTk5OTk5NzczIDM2LjIwMDAwMDAwMDAwMDA0NSwwLjYwMDAwMDAw%0D%0AMDAwMDAyMjcgQzM2LjEwMDAwMDAwMDAwMDAyLDAuMzAwMDAwMDAwMDAwMDExMzcgMzUuNzk5OTk5%0D%0AOTk5OTk5OTU1LDAgMzUuNSwwIEwwLjcwMDAwMDAwMDAwMDA0NTUsMFoiLz4KICAgIDxwYXRoIGlk%0D%0APSJwYXRoLTEiIG9wYWNpdHk9IjEiIGQ9Ik0zNC43OTk5OTk5OTk5OTk5NTUsMiBMMzQuNzk5OTk5%0D%0AOTk5OTk5OTU1LDM0Ljg5OTk5OTk5OTk5OTk4IEwxLjM5OTk5OTk5OTk5OTk3NzMsMzQuODk5OTk5%0D%0AOTk5OTk5OTggTDEuMzk5OTk5OTk5OTk5OTc3MywyNC4zOTk5OTk5OTk5OTk5NzcgTDM0Ljc5OTk5%0D%0AOTk5OTk5OTk1NSwyIEwzNC43OTk5OTk5OTk5OTk5NTUsMlpNMzUuNSwwIEMzNS4zOTk5OTk5OTk5%0D%0AOTk5OCwwIDM1LjIwMDAwMDAwMDAwMDA0NSwwIDM1LjEwMDAwMDAwMDAwMDAyLDAuMTAwMDAwMDAw%0D%0AMDAwMDIyNzQgTDAuMjk5OTk5OTk5OTk5OTU0NSwyMy41IEMwLjEwMDAwMDAwMDAwMDAyMjc0LDIz%0D%0ALjYwMDAwMDAwMDAwMDAyMyAwLDIzLjg5OTk5OTk5OTk5OTk3NyAwLDI0LjEwMDAwMDAwMDAwMDAy%0D%0AMyBMMCwzNS42MDAwMDAwMDAwMDAwMiBDMCwzNiAwLjI5OTk5OTk5OTk5OTk1NDUsMzYuMzAwMDAw%0D%0AMDAwMDAwMDEgMC43MDAwMDAwMDAwMDAwNDU1LDM2LjMwMDAwMDAwMDAwMDAxIEwzNS42MDAwMDAw%0D%0AMDAwMDAwMiwzNi4zMDAwMDAwMDAwMDAwMSBDMzUuODk5OTk5OTk5OTk5OTgsMzYuMzAwMDAwMDAw%0D%0AMDAwMDEgMzYuMjk5OTk5OTk5OTk5OTU1LDM1Ljg5OTk5OTk5OTk5OTk4IDM2LjIwMDAwMDAwMDAw%0D%0AMDA0NSwzNS42MDAwMDAwMDAwMDAwMiBMMzYuMjAwMDAwMDAwMDAwMDQ1LDAuNjk5OTk5OTk5OTk5%0D%0AOTg4NiBDMzYuMjAwMDAwMDAwMDAwMDQ1LDAuMzAwMDAwMDAwMDAwMDExMzcgMzUuODk5OTk5OTk5%0D%0AOTk5OTgsMCAzNS41LDAgTDM1LjUsMFoiLz4KICA8L2RlZnM+CiAgPGcgb3BhY2l0eT0iMSI+CiAg%0D%0AICA8Zz4KICAgICAgPHVzZSB4bGluazpocmVmPSIjcGF0aC0wIiBmaWxsPSJyZ2IoMjE4LDQ4LDUz%0D%0AKSIgZmlsbC1vcGFjaXR5PSIxIi8+CiAgICA8L2c+CiAgICA8Zz4KICAgICAgPHVzZSB4bGluazpo%0D%0AcmVmPSIjcGF0aC0xIiBmaWxsPSJyZ2IoMjE4LDQ4LDUzKSIgZmlsbC1vcGFjaXR5PSIxIi8+CiAg%0D%0AICA8L2c+CiAgPC9nPgo8L3N2Zz4K);
    background-repeat: repeat;
    position: absolute;
    height: 100%;
    margin: 0;
    content: '';
    width: 14.48em;
    right: 0;
    top: 0;
    z-index: 0;
}

body.noteditmode.modeloDS .pagina-inicial header {
    width: 100%;
    padding: 3em 0;
}

/*logo do ead iesb*/

body.noteditmode.modeloDS .pagina-inicial header .img-logo {
    background-image: url(../img/ds/ead-iesb-logo.svg);
    background-repeat: no-repeat;
    position: relative;
    height: 3em;
    margin: 1.5em;
}

/*  titulo ao lado da logo do iesb*/

body.noteditmode.modeloDS .pagina-inicial header h2 {
    font-family: 'Roboto'sans-serif;
    transform: translate(19em, 4.2em);
    position: absolute;
    color: #ffffff;
    font-size: 1em;
    height: 1.5em;
    font-weight: 300;
    top: 0;
}

body.noteditmode.modeloDS .pagina-inicial header h2::before {
    content: "| ";
    color: #ffffff;
    font-weight: 400;
    font-size: 1.1em;
    height: 1.5em;
    width: 1em;
    top: 0;
}

body.noteditmode.modeloDS .pagina-inicial #editmodeWrapper,
body.noteditmode.modeloDS .pagina-inicial #content {
    height: 100%;
}

body.noteditmode.modeloDS .pagina-inicial #containerdiv {
    background: none;
    border: none;
    height: inherit;
}

/*area dos cartoes*/

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background: transparent;
    min-height: 38em;
}

/*esconde o ultimo cartao, que é o link para aulas*/

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read:last-child {
    display: none;
}

/*cartao*/

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read {
    background-color: #ffffff;
    max-width: 11em;
    width: 100%;
    min-height: 14em;
    box-shadow: 0 .2em .6em #615d5d;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    transition: transform .2s;
    border: 0;
}

/*passar mouse sobre o cartao*/

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read:hover {
    cursor: pointer;
    box-shadow: 0 0.2em 1em #464343;
    transform: scale(1.05, 1.05);
}

/*conteudo cartao*/

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix {
    background-color: #fff;
    height: 11.5em;
    transform: translateY(-0.5em);
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

/*esconde icones padrao*/

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix img[title="item vinculado"] {
    display: none;
}

/*imagem do cartao*/

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix h3::before {
    height: 7em;
    width: 100%;
    content: '';
    position: relative;
    background-color: #d1d1d1;
    background-attachment: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix h3::after {
    content: '';
    height: 0.15em;
    background-color: #cc0000;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*titulo do cartao*/

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix h3 a span {
    color: #615d5d;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Roboto'sans-serif;
    line-height: 1.5em;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/*linha vermelha no fim do cartao*/

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix h3 a span::after {
    position: absolute;
    content: "";
    height: 0.15em;
    width: 80%;
    left: 0;
    bottom: 0;
    background-color: #cc0000;
    transform: translate(1em, 1em);
}

body.noteditmode.modeloDS .pagina-inicial .label {
    align-self: center;
    transform: translate(0, -1em);
    color: #fff;
    font-size: .4em;
    line-height: 2.5em;
    border-radius: 1em;
    background-color: #cc0000;
}

/*imagem dos cartoes*/

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix h3.aulas::before {
    background-image: url(https: //github.com/SaudeDiogo/SyncMe/blob/SyncMe/imgs/pagina-inicial/aulas.jpg?raw=true)
}

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix h3.calendario::before {
    background-image: url(https: //github.com/SaudeDiogo/SyncMe/blob/SyncMe/imgs/pagina-inicial/calendario.jpg?raw=true)
}

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix h3.novidades::before {
    background-image: url(https: //github.com/SaudeDiogo/SyncMe/blob/SyncMe/imgs/pagina-inicial/novidades.jpg?raw=true)
}

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix h3.forum-de-duvidas::before {
    background-image: url(https: //github.com/SaudeDiogo/SyncMe/blob/SyncMe/imgs/pagina-inicial/forum-de-duvidas.jpg?raw=true)
}

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix h3.encontro-virtual::before {
    background-image: url(https: //github.com/SaudeDiogo/SyncMe/blob/SyncMe/imgs/pagina-inicial/encontro-virtual.jpg?raw=true)
}

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix h3.biblioteca-virtual::before {
    background-image: url(https: //github.com/SaudeDiogo/SyncMe/blob/SyncMe/imgs/pagina-inicial/biblioteca-virtual.jpg?raw=true)
}

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix h3.notas::before {
    background-image: url(https: //github.com/SaudeDiogo/SyncMe/blob/SyncMe/imgs/pagina-inicial/notas.jpg?raw=true)
}

body.noteditmode.modeloDS .pagina-inicial ul#content_listContainer li.clearfix.read div.item.clearfix h3.avaliacoes::before {
    background-image: url(https: //github.com/SaudeDiogo/SyncMe/blob/SyncMe/imgs/pagina-inicial/avaliacoes.jpg?raw=true)
}
